.welcome-card img {
  max-height: 45vh;
  overflow: hidden;
}
p{
  margin-left: 8vh;
}
ion-title{
  margin-top: 8px;
}
.colorCard{
  background-color: white
}
b{
  font-size:11px
}
.icon{
  font-size: 18px;
}
.segmentFont{
  font-size: 11px;
}